extends ../layout
include ../_includes/sharedHTMLfunctions

block content
  form(name="addPlayer", method="post", action="")
    .form-group.row
      label(for="firstName").col-xs-12.col-md-3 First name
      .col-xs-12.col-md-6
        input(type="text", name="firstName").form-control#firstName
    .form-group.row
      label(for="lastName").col-xs-12.col-md-3 Surname
      .col-xs-12.col-md-6
        input(type="text", name="lastName").form-control#lastName
    .form-group.row
      label(for="nickname").col-xs-12.col-md-3 Nickname
      .col-xs-12.col-md-6
        input(type="text", name="nickname").form-control#nickname
    .form-group.row
      label(for="prefPosition").col-xs-12.col-md-3 Preferred position
      .col-xs-12.col-md-6
        select(name="prefPosition").form-control#prefPosition
          each position, i in positions
            option(value=i) #{position}
    .form-group.row
      .col-xs-12.col-md-2
        input(type="submit").form-control#submit-new-player
